    * {
        box-sizing: border-box;
        }
        body {
        overflow: hidden;
        }

    .mainMessage{
        position:absolute;
        color:black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5em;
        display: none;
        -webkit-transform: translate(50%, 50%); /*center anchor*/
    }

    #movingCircle {
        position: absolute;
        left: 50%; 
        -webkit-transform: translate(-50%, -50%); /*center anchor*/
        background-color: green;
        border-radius: 50%;
        border: 2px black solid;
    }

    .box {
        width:40px;
        height:40px;
        margin:0px;
        border: 3px black solid;
        background-color: green;
        position:absolute;
    }

    #topR{top:0px;right:0px;}
    #topL{top:0px;left:0px;}
    #bottomR{bottom:0px;right:0px;}
    #bottomL{bottom:0px;left:0px;}
